 <h4 class="pink-text text-lighten-5 rowTopMargin">Basic Information</h4>
<form class="col s12 white minFormHeight" #basicInformation="ngForm" autocomplete="off">
        <div class="row rowmargin">
            <div class="input-field col s12 m6 l6">
                    <i class="material-icons prefix">person</i>
            <input class="validate" type="text" name="FullName" #FullName="ngModel" [(ngModel)]="Fullname" required>
                <label>FullName</label>
                <span class="helper-text" data-error="FullName Required!" data-success="Done"></span>
        </div>
            <div class="input-field col s12 m6 l6">
                    <i class="material-icons prefix">phone</i>
                    <input  class="validate" type="text" name="phone" #phone="ngModel" [(ngModel)]="PhoneNumber" required minlength="11" maxlength="11" >
                    <label>Phone No.</label>    
                    <span class="helper-text" [attr.data-error]="phone.errors!=null?(phone.errors.required?'Required Field':'Only Enter 11 digits please'):''" data-success="Done"></span>
            </div>
        </div>
        <!-- <div class="row">
                <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">person</i>
                <input class="validate" type="text" name="userEmail" #userEmail="ngModel" [(ngModel)]="Email" required>
                    <label>FullName</label>
                    <span class="helper-text" data-error="FullName Required!" data-success="Done"></span>
            </div>
                <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">phone</i>
                        <input  class="validate" type="text" name="userWeb" #userWeb="ngModel" [(ngModel)]="websites" required minlength="11" maxlength="11" >
                        <label>web</label>    
                        <span class="helper-text" data-error="website Required!" data-success="Done"></span>
                </div>
            </div> -->
            <div class="row rowmargin">
                        <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">email</i>
                        <input  class="validate" type="email" name="userEmail" #userEmail="ngModel" [(ngModel)]="Email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <label>Email</label>
                            <span class="helper-text" data-error="Enter correct email" data-success="Done"></span>                           
                    </div>
                    <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">http</i>
                        <input  class="validate" type="text" name="usersite" #usersite="ngModel" [(ngModel)]="websites" required>
                            <label>Website</label>
                            <span class="helper-text" data-error="Enter Website please" data-success="Done"></span>                           
                    </div>
                </div>
                <div class="row rowmargin">
                                <div class="input-field col s12 m6 l6">
                                        <i class="material-icons prefix">home</i>
                                <input class="validate" type="text" name="userAddress1" #userAddress1="ngModel" [(ngModel)]="address1" required >
                                    <label>Address#1</label>
                                    <span class="helper-text" data-error="Address Required!" data-success="Done"></span>
                            </div>
                                <div class="input-field col s12 m6 l6">
                                        <i class="material-icons prefix">home</i>
                                        <input class="validate" type="text" name="userAddress2" #userAddress2="ngModel" [(ngModel)]="address2" required>
                                        <label>Address#2</label>
                                        <span class="helper-text" data-error="Address Required!" data-success="Done"></span> 
                                </div>
                            </div>
           
            <div class="row" style="margin-top: 50px; margin-bottom:0px; margin-left:0px;">
                <div class="col s12 m3 l3 offset-s7 offset-m9 offset-l9 "> 
                    <button id="nextTab" [disabled]="" class="btnNextBasicInfo btn waves-effect waves-light z-depth-1 basicNext" type="submit" name="action" (click)="setInfoValues()" onclick="M.toast({html: 'Personal Information is Added'})">Next
                       <i class="material-icons right">navigate_next</i>
                     </button>
                </div> 
        </div>
    </form>
    