<div class="bg-gra-02">       
    <div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
          <div class="card grad1 round-border">
            <div class="card-content white-text " style="padding: 10px;">
              <span class="card-title border-bottom-experience">Usman Zulfiqar</span>
              <div class="row rowmargin">
                    <div class="col s12 m4 l4 divRoundBorder">
                        <div class="card divSize divRoundBorder">
                        <div class="card-content white-text">
                        </div>
                    </div>
                        </div>
                        <!-- Summery -->
                    <div class="col s12 m8 l8 summeryPadding">
                        <div class="col s12 m12 l12">
                                <a class="waves-effect waves-light btn-flat blue-text modal-trigger right" href="#summeryModal"><i class="material-icons">create</i></a>
                        <div class="col s12 m12 l12"><p>{{_profileSummery}}</p></div>
                        
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
</div>
<!-- Experiance -->
<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
          <div class="card grad full-round-border">
            <div class="card-content white-text" >
              <span class="card-title border-bottom-experience">EXPERIENCE</span>
              <div class="row rowmargin border-bottom-experience">
                <div class="col s12 m12 l12">
                    <a class="waves-effect waves-light btn-flat orange-text modal-trigger right" href="#ExperianceModal"><i class="material-icons">delete</i></a>
                    <a class="waves-effect waves-light btn-flat blue-text modal-trigger right" href="#ExperianceModal"><i class="material-icons">edit</i></a>
                    <div class="col s12 m12 l12">
                    <div class="col s12 m4 l4">
                     <div class="row rowmargin blue-text fontJobTitle"><p>Senior Developer</p></div>   
                     <div class="row rowmargin orange-text text-lighten-1"><p>Sherserve(PVT)</p></div>
                     <div class="row rowmargin light-green-text text-lighten-1"><p>01/02/2020------14/02/2020</p></div>
                     <div class="row rowmargin light-green-text text-lighten-1"><p>Faisalabad------Pakistan</p></div>
                    </div>
                    <div class="col s12 m8 l8">
                        {{_profileExperianceDetail}}
                    </div>
                     </div>
                    </div>
             </div>
             <div class="row rowmargin border-bottom-experience">
                <div class="col s12 m12 l12">
                    <a class="waves-effect waves-light btn-flat orange-text modal-trigger right" href="#ExperianceModal"><i class="material-icons">delete</i></a>
                    <a class="waves-effect waves-light btn-flat blue-text modal-trigger right" href="#ExperianceModal"><i class="material-icons">edit</i></a>
                    <div class="col s12 m12 l12">
                    <div class="col s12 m4 l4">
                     <div class="row rowmargin blue-text fontJobTitle"><p>Senior Developer</p></div>   
                     <div class="row rowmargin orange-text text-lighten-1"><p>Sherserve(PVT)</p></div>
                     <div class="row rowmargin light-green-text text-lighten-1"><p>01/02/2020------14/02/2020</p></div>
                     <div class="row rowmargin light-green-text text-lighten-1"><p>Faisalabad------Pakistan</p></div>
                    </div>
                    <div class="col s12 m8 l8">
                        {{_profileExperianceDetail}}
                    </div>
                     </div>
                    </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <!-- Education -->
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
              <div class="card grad full-round-border">
                <div class="card-content white-text" >
                  <span class="card-title border-bottom-experience">EDUCATION</span>
                  <div class="row rowmargin border-bottom-experience">
                    <div class="col s12 m12 l12">
                        <a class="waves-effect waves-light btn-flat orange-text modal-trigger right" href="#ExperianceModal"><i class="material-icons">delete</i></a>
                        <a class="waves-effect waves-light btn-flat blue-text modal-trigger right" href="#ExperianceModal"><i class="material-icons">edit</i></a>
                        <div class="col s12 m12 l12">
                        <div class="col s12 m4 l4">
                         <div class="row rowmargin blue-text fontJobTitle"><p>MS-Computer Science</p></div>   
                         <div class="row rowmargin orange-text text-lighten-1"><p>University of Agriculture</p></div>
                         <div class="row rowmargin light-green-text text-lighten-1"><p>01/02/2020------14/02/2020</p></div>
                         <div class="row rowmargin light-green-text text-lighten-1"><p>Faisalabad------Pakistan</p></div>
                        </div>
                        <div class="col s12 m8 l8">
                            {{_profileExperianceDetail}}
                        </div>
                         </div>
                        </div>
                 </div>
                 <div class="row rowmargin border-bottom-experience">
                    <div class="col s12 m12 l12">
                        <a class="waves-effect waves-light btn-flat orange-text modal-trigger right" href="#ExperianceModal"><i class="material-icons">delete</i></a>
                        <a class="waves-effect waves-light btn-flat blue-text modal-trigger right" href="#ExperianceModal"><i class="material-icons">edit</i></a>
                        <div class="col s12 m12 l12">
                        <div class="col s12 m4 l4">
                         <div class="row rowmargin blue-text fontJobTitle"><p>BS-Information Technology</p></div>   
                         <div class="row rowmargin orange-text text-lighten-1"><p>GCUF</p></div>
                         <div class="row rowmargin light-green-text text-lighten-1"><p>01/02/2020------14/02/2020</p></div>
                         <div class="row rowmargin light-green-text text-lighten-1"><p>Faisalabad------Pakistan</p></div>
                        </div>
                        <div class="col s12 m8 l8">
                            {{_profileExperianceDetail}}
                        </div>
                         </div>
                        </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
</div>
<!-- Models -->
<!-- Summery Model -->
<div id="summeryModal" class="modal">
    <div class="modal-content">
      <h4>Change Summery Detail</h4>
      <div class="row">

                  <div class="input-field col s12 m12 l12">
                    <div class="row">    
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">location_city</i>
                        <textarea  class="validate materialize-textarea" type="text" name="Summery" #Summery="ngModel" [(ngModel)]="userSummery" required></textarea>
                            <label>Summery</label>
                            <span class="helper-text" data-error="Enter city name please" data-success="Done"></span>                           
                    </div>
                    </div>                           
              </div>
              </div>
    </div>
    <div class="row">
          <div class="col s12 m2 l2 offset-m10 offset-l10">
                  <div class="modal-footer">
                  <button  type="button" class="modal-close waves-effect waves-green btn" onclick="M.toast({html: 'Summery changed successfully'})">Done</button>
                  </div>
          </div>
   </div>
</div>
<!-- Experience Model -->