
   <!-- Icons font CSS-->
   <link href="assets\SignupDesign\vendor\mdi-font\css\material-design-iconic-font.min.css" rel="stylesheet" media="all">
   <link href="assets\SignupDesign\vendor\font-awesome-4.7\css\font-awesome.min.css" rel="stylesheet" media="all">
   <!-- Font special for pages-->
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
 
   <!-- Vendor CSS-->
 
   <!-- Main CSS-->
   <link href="assets\SignupDesign\css\main.css" rel="stylesheet" media="all">
  
    <div class="page-wrapper bg-gra-02 p-t-130 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Sign In</h2>
                    <form #signIn="ngForm">
                        <div class="row rowmargin">
                            <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">email</i>
                                <input class="validate" type="text" type="email" name="userEmail" #userEmail="ngModel" [(ngModel)]="Email" required>
                                <label>Email</label>
                                <span class="helper-text" data-error="FullName Required!" ></span>
                        </div>
                            <div class="input-field col s12 m6 l6">
                                    <i class="material-icons prefix">vpn_key</i>
                                    <input  class="validate" type="password" name="userPassword" #userPassword="ngModel" [(ngModel)]="password" >
                                    <label>password</label>    
                                    <span class="helper-text" [attr.data-error]="phone.errors!=null?(phone.errors.required?'Required Field':'Only Enter 11 digits please'):''" ></span>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn1 btn1--radius-2 btn1--blue" type="submit" >Sign In</button>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
       <!-- Jquery JS-->
  
   <!-- Vendor JS-->

   <!-- Main JS-->
